/*
File created 06/23/2020 by Amanda Cheng.
File edited 06/24/2020 by Amanda Cheng: introduced new stylizations for additional elements in index template.
Filed edited 06/25/2020 by Amanda Cheng: Changed margins to keep everything in order.
 */
*{
  box-sizing: border-box;
}

p.intro {
  background-color: #7cc0ae;
  float: right;
  margin: 10px 5px 0px 0px;
  width: 82%;
  text-align: left;
}
img {
  float: left;
  padding: 0px 30px;
  display: inline-block;
  height: auto;
  width: auto;
  max-height:600px;
  max-width: 400px;
}
/*
Education Section
 */
div.right_pic img {
  float: right;
  margin: 5px 30px 10px 0px;
  padding: 10px 0px 70px 10px;
  /*display: inline-block;*/
  height: auto;
  width: auto;
  max-height: 400px;
  max-width: 450px;
}
div.right_pic h3{
  font-weight: bold;
  margin: 270px 0px 30px 200px;
  width: 50%;
  text-align: left;
}
div.right_pic h2{
  font-weight: bold;
  padding: 0px 0px 50px 0px;
  width: 50%;
  text-align: left;
}
div.right_pic p {
  background-color: #7cc0ae;
  margin: 20px 0px 10px 200px;
  width: 50%;
  text-align: left;
}
/*
Noteworthy section
 */
div.bottom h3{
  font-weight: bold;
  padding: 40px 0px 30px 450px;
  /*margin: 150px 0px 40px 560px;*/
  width: 50%;
  text-align: left;
}
div.bottom li{
  width: 100%;
  font-size: 12px;
  margin: 10px;
  padding: 0px;
  /*margin: 5px 50px 10px 250px;*/
  text-align: center;
}
div.right_pic{
  margin: 0px 0px;
  padding: 10px 10px 140px 10px;
}
div.bottom{
  margin: 0px 150px;
  padding: 0px;
  border: solid black 2px;
}