body {
  background-color: lavender;
  color: rebeccapurple;
  margin: 0px;
  padding: 0px;
}
h1 {
  padding: 0px;
  margin: 0px 0px;
  text-align: center;
  /* background: #6F0BBF; */
  font-size: 30px;
  font-family: Arial;
}
li.header {
  padding: 0px;
  margin: 2px 0px;
  text-align: center;
  /*background: #6F0BBF;*/
  color: rebeccapurple;
  font-size: 10px;
}
a {
  padding: 0px;
  /*margin: 0px 0px;*/
  text-align: left;
  /*background: #6F0BBF;*/
  color: rebeccapurple;
  font-size: 10px;
}
*{
  box-sizing: border-box;
}

p.intro {
  float: right;
  margin: 10px 5px 0px 0px;
  width: 82%;
  text-align: left;
}
img {
  float: left;
  padding: 0px 30px;
  display: inline-block;
  height: auto;
  width: auto;
  max-height:600px;
  max-width: 400px;
}
/*
Education Section
 */
div.right_pic img {
  float: right;
  margin: 5px 30px 10px 0px;
  padding: 10px 0px 70px 10px;
  /*display: inline-block;*/
  height: auto;
  width: auto;
  max-height: 400px;
  max-width: 450px;
}
div.right_pic h3{
  font-weight: bold;
  margin: 270px 0px 30px 200px;
  width: 50%;
  text-align: left;
}
div.right_pic h2{
  font-weight: bold;
  padding: 0px 0px 50px 0px;
  width: 50%;
  text-align: left;
}
div.right_pic p {
  margin: 20px 0px 10px 200px;
  width: 50%;
  text-align: left;
}
/*
Noteworthy section
 */
div.bottom h3{
  font-weight: bold;
  padding: 50px 0px 40px 560px;
  /*margin: 150px 0px 40px 560px;*/
  width: 50%;
  text-align: left;
}
div.bottom li{
  width: 50%;
  font-size: 12px;
  margin: 5px 50px 10px 250px;
  text-align: center;
}
div.right_pic{
  margin: 0px 0px;
  padding: 10px 10px 100px 10px;
}
div.bottom{
  margin: 0px 100px;
  padding: 0px;

  border: solid black 2px;
}