body {
    background-color: lavender;
    color: rebeccapurple;
    margin: 0px;
    padding: 0px;
}
h1 {
    padding: 0px;
    margin: 0px 0px;
    text-align: center;
    /*background: #6F0BBF;*/
    font-size: 30px;
    font-family: Arial;
}
p.header {
    padding: 0px;
    margin: 2px 0px;
    text-align: center;
    /*background: #6F0BBF;*/
    color: rebeccapurple;
    font-size: 10px;
}
a {
    padding: 0px;
    /*margin: 0px 0px;*/
    text-align: left;
    /*background: #6F0BBF;*/
    color: rebeccapurple;
    font-size: 10px;
}
*{
    box-sizing: border-box;
}

p.intro {
    float: right;
    margin: 10px 5px 0px 0px;
    width: 82%;
    text-align: left;
}
img {
    float: left;
    padding: 10px 30px;
    display: inline-block;
 height: auto;
    width: auto;
    max-height:600px;
    max-width: 400px;
}

div.right_pic img {
    float: right;
    margin: 0px 30px 100px 0px;
    display: inline-block;
    height: auto;
    width: auto;
    max-height:500px;
    max-width: 500px;
}
div.right_pic h3{
    margin: 300px 0px 10px 200px;
    width: 50%;
    text-align: left;
}
div.right_pic p{
    margin: 20px 0px 10px 200px;
    width: 50%;
    text-align: left;
}