/* Created on 06/25/2020 by Prachiti Garge */
/* For grey color */
div.people > div {

}
/* For h2 */
.people h2 {
  text-align: left;
  color: black;
}
/* Created on 06/25/2020 by Prachiti Garge */
/* For names */
.people .per_name {
  font-weight: normal;
  color: black;
}
/* Created on 06/25/2020 by Prachiti Garge */
/* For qualifications */
.people .per_qual {
  font-weight: normal;
  font-style: italic;
  color: dimgray;
}
/* Created on 06/25/2020 by Prachiti Garge */
/* For topic */
.people .per_topic {
  font-weight: normal;
  color: dimgray;
}
/* Created on 06/25/2020 by Prachiti Garge */
/* Need bulleted list */
.people li {
  list-style-type: circle;
}
/* Created on 06/25/2020 by Prachiti Garge */
/* Make and align the columns */
.people > div {
  width: 27%;
  display: inline-block;
  vertical-align: top;
}
/* Created on 06/25/2020 by Prachiti Garge */
/* Left */
.people .leftSide {
  margin-right: 6%;
  padding-left: 0;
}
/* Created on 06/25/2020 by Prachiti Garge */
/* Right */
.people .rightSide {
  margin-left: 6%;
  padding-right: 0;
}