/* Created on 06/25/2020 by Troy Stein */
p.course_number {
  font-size: 1.3888888889em; /* 25 / 18 = 1.3888888889 */
  font-weight: bold;
  line-height: 1.32em; /* 33 / 25 = 1.32 */
  padding-top: 0.6111111111em; /* 11 / 18 = 0.6111111111 */
  padding-bottom: 0.6111111111em; /* 11 / 18 = 0.6111111111 */
}
table.personal_info, td, th {
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
td {
  width: 12.5%;
}
table {
  table-layout: auto;
  margin-right: 5%;
  margin-left: 5%;
  align-content: center;
}
