/* Created on 06/25/2020 by Troy Stein */
p.course_number {
  font-size: 1em; /* 25/24 = 1.04166666666667*/
  font-weight: bold;
  padding-top: .66666667em/* 16/24 = .6666666667 */
}
table.personal_info, td, th {
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
td {
  width: 50%;
}
table {
  table-layout: auto;
  margin-right: auto;
  margin-left: auto;
  align-content: center;
}