<ul id="navigation">
  <li><a href="./index.html">Home</a></li>
  <li><a href="./publications.html">Publications</a></li>
  <li><a href="./person_history.html">Personal History</a></li>
  <li><a href="./media_press.html">Media and Press</a></li>
  <li><a href="./people.html">People</a></li>
</ul>