---
layout: "index"
title: James W. Davis
---

<div class="left_pic">
  <img alt="Professor Davis" src="images/davis_face.jpg">
  <% data.index.intro.each do |node| %>
    <p class="intro"><%= node %></p>
  <% end %>
</div>
<div class="right_pic">
  <img alt="Professor Davis" src="images/davis.jpg">
  <h3>Education</h3>
  <% data.index.education.each do |node| %>
    <p><%= node %></p>
  <% end %>
</div>
