---
layout: "layout"
title: James W. Davis
---
<%# File created 06/23/2020 by Amanda Cheng %>
<%# File edited 06/24/2020 by Amanda Cheng: Rechanged format order of elements. %>
<div class="left_pic content-padding">
  <img alt="Professor Davis" src="images/davis_face.jpg">
  <% data.index.intro.each do |node| %>
    <p class="intro"><%=node%> </p>
  <% end %>
</div>
<div class="right_pic content-padding">
  <img alt="Professor Davis" src="images/davis.jpg">
  <h3>Education</h3>
  <% data.index.education.each do |node| %>
    <p><%= node %></p>
  <% end %>
</div>
<div class="bottom">
  <h3>Noteworthy</h3>
  <ul>
    <% data.index.noteworthy.each do |node| %>
      <li><%= node %></li>
    <% end %>
  </ul>
</div>