---
layout: "layout"
title: "James W. Davis, Publications"
---

<h1 class="content-padding">Publications</h1>
<div class="flex-container content-padding">
  <div id="left">
    <% data.event_list_left.each do |node| %>
      <ul>
        <% node.each do |list| %>
          <li><%= list %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div id="right">
    <% data.event_list_right.each do |node| %>
      <ul>
        <% node.each do |list| %>
          <li><%= list %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
