---
layout: "publications"
title: "James W. Davis, Publications"
---

<h1 class="pub-view">Publications</h1>

<div class="flex-container pub-view">
  <div id="left">
    <ul>
      <li>"Hierarchical Classification with Confidence using Generalized Logits"</li>
      <li>J. Davis, T. Liang, J. Enouen, and R. Ilin</li>
      <li>To appear, International Conference on Pattern Recognition, January 2021.</li>
    </ul>
    <ul>
      <li>"Hierarchical Classification with Confidence using Generalized Logits"</li>
      <li>J. Davis, T. Liang, J. Enouen, and R. Ilin</li>
      <li>To appear, International Conference on Pattern Recognition, January 2021.</li>
    </ul>
    <ul>
      <li>"Hierarchical Classification with Confidence using Generalized Logits"</li>
      <li>J. Davis, T. Liang, J. Enouen, and R. Ilin</li>
      <li>To appear, International Conference on Pattern Recognition, January 2021.</li>
    </ul>
    <ul>
      <li>"Hierarchical Classification with Confidence using Generalized Logits"</li>
      <li>J. Davis, T. Liang, J. Enouen, and R. Ilin</li>
      <li>To appear, <i>International Conference on Pattern Recognition</i>, January 2021.</li>
    </ul>
  </div>
  <div id="right">
    <ul>
      <li>"Hierarchical Classification with Confidence using Generalized Logits"</li>
      <li>J. Davis, T. Liang, J. Enouen, and R. Ilin</li>
      <li>To appear, International Conference on Pattern Recognition, January 2021.</li>
    </ul>
    <ul>
      <li>"Hierarchical Classification with Confidence using Generalized Logits"</li>
      <li>J. Davis, T. Liang, J. Enouen, and R. Ilin</li>
      <li>To appear, International Conference on Pattern Recognition, January 2021.</li>
    </ul>
    <ul>
      <li>"Hierarchical Classification with Confidence using Generalized Logits"</li>
      <li>J. Davis, T. Liang, J. Enouen, and R. Ilin</li>
      <li>To appear, International Conference on Pattern Recognition, January 2021.</li>
    </ul>
    <ul>
      <li>"Hierarchical Classification with Confidence using Generalized Logits"</li>
      <li>J. Davis, T. Liang, J. Enouen, and R. Ilin</li>
      <li>To appear, <i>International Conference on Pattern Recognition</i>, January 2021.</li>
    </ul>
  </div>
</div>
